node_modules/
.env
app.log
backend/.dev
backend/app.log
backend/app-behaviour.log
backend/detailed-requests.log
backend/http-requests.log
backend/src/NOTES.txt
backend/errors.log
backend/uploads
frontend/.env
/uploads
dist
.github