@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color-scheme: dark;
}

/* mobile viewport fix for dynamic browser chrome (address bar) */
html {
	height: 100%;
	height: -webkit-fill-available;
}

body {
	@apply bg-background text-primary antialiased selection:bg-accent selection:text-white;
	overflow-y: scroll;
	min-height: 100%;
	min-height: -webkit-fill-available;
}

/* prevent overscroll/bounce on iOS */
@supports (-webkit-touch-callout: none) {
	body {
		/* iOS specific fixes */
		-webkit-overflow-scrolling: touch;
	}
}

/* Custom Scrollbar for the dark theme */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	@apply bg-background;
}
::-webkit-scrollbar-thumb {
	@apply bg-divider rounded-full;
}
::-webkit-scrollbar-thumb:hover {
	@apply bg-secondary;
}
