@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color-scheme: dark;
}

body {
	@apply bg-background text-primary antialiased selection:bg-accent selection:text-white;
	overflow-y: scroll;
}

/* Custom Scrollbar for the dark theme */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	@apply bg-background;
}
::-webkit-scrollbar-thumb {
	@apply bg-divider rounded-full;
}
::-webkit-scrollbar-thumb:hover {
	@apply bg-secondary;
}
