name: Build and Deploy to DigitalOcean

on:
  push:
    branches: ["master"]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Frontend
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./frontend/frontend.Dockerfile
          push: true
          tags: ghcr.io/danzin/photoapp-frontend:latest
          build-args: |
            VITE_API_URL=/
            VITE_SOCKET_URL=/

      - name: Build and push Backend
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./backend/backend.Dockerfile
          push: true
          tags: ghcr.io/danzin/photoapp-backend:latest
  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Digital Ocean via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            cd /opt/image-app

            git fetch --all
            git reset --hard origin/master
            git pull origin master

            docker-compose -f docker-compose-prod.yml pull
            docker-compose -f docker-compose-prod.yml up -d
            docker system prune -f
